<div class="center hero-unit">
	<h1>欢迎来到'我的微博'</h1>
<h2>
这是<a href="<%= root_path %>">'我的微博'</a>的首页。
</h2>
<%= link_to "现在登录!",signup_path,class: "btn btn-large btn-primary" %>
</div>
	<%= link_to image_tag('rails.png',alt: 'Rails'),'http://railstutorial.org' %>
