<% provide(:title,"编辑用户")%>
<h1>更新个人资料</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
			<%= render 'user_form',f: f %>

			<%= f.submit "保存修改",class: "btn btn-large btn-primary" %>
		<% end %>
		<%= gravatar_for @user %>
		<a href="http://gravatar.com/emails">修改</a>
	</div>
</div>
