<% if object.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
			<!--表单包含<%= object.errors.count %>项错误.-->
			表单包含以下错误.
		</div>
		<!--<ul>
			<%= object.errors.full_messages.each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
		</ul>-->
	</div>
<% end %>
