<footer class="footer">
<small>
	Microposts by Sven Liu
</small>
<nav>
<ul>
	<li><%= link_to "关于我们",about_path %></li>
	<li><%= link_to "联系我们",contact_path %></li>
	<li><a href="#">更多动态</a></li>
</ul>
</nav>
</footer>
